body {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    background: #1F2937;

}

.header  {
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    margin-right: 0;
    margin-top: 0;
    margin-left: 24px;
}

.header-right {
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
   

}